<div class="container">
    <mat-card class="card card-1">
        <img class="innercard" src="../../assets/4_avatar-512.png" alt="Photo of a Presenter">
        <mat-card-content>
            <p>
                {{content}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="button" style="color: #1DA1F2"><i class="fa fa-twitter"
                    aria-hidden="true"></i></button>
            <button mat-button class="button" style="color:#fb3958"><i class="fa fa-instagram"
                    aria-hidden="true"></i></button>
            <button mat-button class="button" style="color: #3b5998"><i class="fa fa-facebook"
                    aria-hidden="true"></i></button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card card-1">
        <img class="innercard" src="../../assets/3_avatar-512.png" alt="Photo of a Presenter">
        <mat-card-content>
            <p>
                {{content}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="button" style="color: #1DA1F2"><i class="fa fa-twitter"
                    aria-hidden="true"></i></button>
            <button mat-button class="button" style="color:#fb3958"><i class="fa fa-instagram"
                    aria-hidden="true"></i></button>
            <button mat-button class="button" style="color: #3b5998"><i class="fa fa-facebook"
                    aria-hidden="true"></i></button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card card-1">
        <img class="innercard" src="../../assets/10_avatar-512.png">
        <mat-card-content>
            <p>
                {{content}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="button" style="color: #1DA1F2"><i class="fa fa-twitter"
                    aria-hidden="true"></i></button>
            <button mat-button class="button" style="color:#fb3958"><i class="fa fa-instagram"
                    aria-hidden="true"></i></button>
            <button mat-button class="button" style="color: #3b5998"><i class="fa fa-facebook"
                    aria-hidden="true"></i></button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card card-1">
            <img class="innercard" src="../../assets/11_avatar-512.png">
            <mat-card-content>
                <p>
                    {{content}}
                </p>
            </mat-card-content>
        
        <mat-card-actions>
                <button mat-button class="button" style="color: #1DA1F2"><i class="fa fa-twitter"
                    aria-hidden="true"></i></button>
            <button mat-button class="button" style="color:#fb3958"><i class="fa fa-instagram"
                    aria-hidden="true"></i></button>
            <button mat-button class="button" style="color: #3b5998"><i class="fa fa-facebook"
                    aria-hidden="true"></i></button>   
        </mat-card-actions>
    </mat-card>
    <mat-card class="card card-1">
            <img class="innercard" src="../../assets/2754581.png">
            <mat-card-content>
                <p>
                    {{content}}
                </p>
            </mat-card-content>
        <mat-card-actions>
                <button mat-button class="button" style="color: #1DA1F2"><i class="fa fa-twitter"
                    aria-hidden="true"></i></button>
            <button mat-button class="button" style="color:#fb3958"><i class="fa fa-instagram"
                    aria-hidden="true"></i></button>
            <button mat-button class="button" style="color: #3b5998"><i class="fa fa-facebook"
                    aria-hidden="true"></i></button>  
        </mat-card-actions>
    </mat-card>
    <mat-card class="card card-1">
            <img class="innercard" src="../../assets/_Bearded_Man-17-512.png">
            <mat-card-content>
                <p>
                    {{content}}
                </p>
            </mat-card-content>
        <mat-card-actions>
                <button mat-button class="button" style="color: #1DA1F2"><i class="fa fa-twitter"
                    aria-hidden="true"></i></button>
            <button mat-button class="button" style="color:#fb3958"><i class="fa fa-instagram"
                    aria-hidden="true"></i></button>
            <button mat-button class="button" style="color: #3b5998"><i class="fa fa-facebook"
                    aria-hidden="true"></i></button>  
        </mat-card-actions>
    </mat-card>
</div>