.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.item {
  color: black;
}

.logout {
    position: absolute;
    right: 5px;
    font-size: 20px;
    background-color: white;
    outline: none;
    border: 0px;
    cursor: pointer;
}