
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // import a base theme
// import your custom theme
@import './sass/theme.scss';
// include your custom theme with a class
.mytheme {
    @include angular-material-theme($candy-app-theme);
}
// example other global styles

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-inner-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
